@using Solution.Locator.Web.Models.Common.Modals
@model Solution.Locator.Web.Models.Friends.AtacchedGamesViewModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Jogos Disponíveis"))
<div class="modal-body">
    <form name="AttachedGameEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="IdFriend" value="@Model.Friend.Id" />
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a href="#edit-AtacchedGame-details" data-toggle="tab"><b>Amigo:</b> @Model.Friend.Name  <b>Apelido:</b> @Model.Friend.NickName</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-AtacchedGame-details">
              
                <div class="row">
                    <div class="col-sm-12 ">
                        @foreach (var gameAvailable in Model.GamesAvailable)
                        {
                            <div class="col-sm-6">
                                <input type="checkbox" name="game" value="@gameAvailable.Id" title="@gameAvailable.Name" class="filled-in" id="@string.Format("game{0}",gameAvailable.Id)" />
                                <label for="@string.Format("game{0}",gameAvailable.Id)" title="@gameAvailable.Name">@gameAvailable.Name</label>
                            </div>
                        }
                        @foreach (var gameBorrowed in Model.GamesBorrowed)
                        {
                            <div class="col-sm-6">
                                <input type="checkbox" name="game" value="@gameBorrowed.Id" title="@gameBorrowed.Name" class="filled-in" id="@string.Format("game{0}",gameBorrowed.Id)" checked />
                                <label for="@string.Format("game{0}",gameBorrowed.Id)" title="@gameBorrowed.Name">@gameBorrowed.Name</label>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
<script src="~/view-resources/Views/Friends/_AttachedGamesModel.js" asp-append-version="true"></script>
